<%- include('../partials/header.ejs'); -%>

<main class="px-6 lg:px-8">
  <section class="mx-auto max-w-2xl my-12">
    <form id="changePasswordForm" action="/dashboard/changePassword/<%= user.id %>">
      <h2 class="mt-6 text-lg font-bold">Change Password</h2>
      <label class="mt-6 mb-2 block text-sm font-semibold leading-6 text-gray-900" for="password">Password</label>
      <input class="input-edit" id= "password" type="password" name="password" required />
      <div class="password error"></div><br>
      <label class="mt-6 mb-2 block text-sm font-semibold leading-6 text-gray-900" for="repeatPassword">Repeat password</label>
      <input class="input-edit" id= "repeatPassword" type="password" name="repeatPassword" required />
      <div class="repeatPassword error"></div><br>
      <button class="mt-6 inline-flex justify-center rounded-lg text-sm font-semibold py-2.5 px-4 text-green-900 bg-green-200 hover:bg-green-300 w-fit" id="savePasswordBtn" type="submit" form="changePasswordForm">Save</button>
      <button class="mt-6 inline-flex justify-center rounded-lg text-sm font-semibold py-2.5 px-4 text-red-900 bg-red-200 hover:bg-red-300 w-fit" id="cancelPasswordBtn">Cancel</button>
    </form>
  </section>

</main>


<%- include('../partials/footer.ejs'); -%>

<script>
    const form = document.querySelector('form');
    const passwordError = document.querySelector('.password.error');
    const repeatPasswordError = document.querySelector('.repeatPassword.error');
    const cancelBtn = document.getElementById('cancelPasswordBtn')

    cancelBtn.addEventListener('click', (e) => {
        e.preventDefault();
        location.assign('/dashboard/myProfile/<%= user.id %>')
    })

    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        passwordError.textContent = '';
        repeatPasswordError.textContent = '';

        const password = form.password.value;
        const repeatPassword = form.repeatPassword.value;

        if (password !== repeatPassword) {
            repeatPasswordError.textContent = "Passwords don't match";
        } else {
            try {
                const res = await fetch(`/dashboard/changePassword/<%= user.id %>`, {
                    method: 'PUT',
                    body: JSON.stringify({ password }),
                    headers: {'Content-Type': 'application/json'}
                });
                const data = await res.json();
                console.log(data);
                if (data.errors) {
                    passwordError.textContent = data.errors.password;
                } else {
                    location.assign(`/dashboard/myProfile/<%= user.id %>`);
                }
            }
            catch (err) {
                console.log(err);
            }
        }
    });
</script>