<%- include('../partials/header.ejs'); -%>

<% if (jobs.length > 0) { %>
  <h2>Your ongoing job applications:</h2>

  <%    for(var i=0; i < jobs.length; i++) { %>

    <a href="/dashboard/item/<%= jobs[i]._id %>">
      <div class="job">
        Job Title: <%= jobs[i].jobTitle %><br>
        Company Name: <%= jobs[i].companyName %>
      </div>
    </a>

    <br>
<% } } else { %>
  <h2>Let's start tracking your first job application</h2>
<% } %>
<a href="/dashboard/add">Add a job</a>

<%- include('../partials/footer.ejs'); -%>