
<%- include('../partials/loggedInHeader.ejs'); -%>

<h1>My Profile</h1>

<form action="/dashboard/myProfile/<%= user.id %>?_method=PUT" id="profileForm" method="POST">
    <label for="firstName">First Name: </label>
    <input id="firstName" type="text" class="myProfileForm" name="firstName" value="<%= user.firstName %>" placeholder="First Name" required disabled /><br>
    <div class="firstName error"></div><br>
    <label for="lastName">Last Name: </label>
    <input id="lastName" type="text" class="myProfileForm" name="lastName" value="<%= user.lastName %>" placeholder="Last Name" required disabled /><br>
    <div class="lastName error"></div><br>
    <label for="email">Email: </label>
    <input id="email" type="text" class="myProfileForm" name="email" value="<%= user.email %>" placeholder="email" disabled/><br>
    <div class="email error"><%= locals.emailError %></div><br>
    <label for="gitHub">GitHub Username: </label>
    <input id="gitHub" type="text" class="myProfileForm" name="gitHub" value="<%= user.gitHub %>" placeholder="gitHub username" disabled/>
    <button id="gitHubBtn">Visit your github profile</button><br>
    <div class="gitHub error"></div><br>
</form>

<button id="editBtn">Edit Personal Data</button>
<button id="saveBtn" type="submit" form="profileForm">Save</button>
<button id="cancelBtn">Cancel</button>

<br>

<a href="/dashboard/changePassword/<%= user.id %>">
    change password
</a>
<%- include('../partials/footer.ejs'); -%>

<script>
    const formElements = document.querySelectorAll(".myProfileForm");
    const editBtn = document.getElementById('editBtn');
    const cancelBtn = document.getElementById('cancelBtn');
    const saveBtn = document.getElementById('saveBtn');
    const gitHubBtn = document.getElementById('gitHubBtn');

    editBtn.addEventListener('click', (e) => {
        editBtn.style.display = "none";
        saveBtn.style.display = "inline-block";
        cancelBtn.style.display = "inline-block";
        gitHubBtn.style.display = "none";

        for (i = 0; i < formElements.length; ++i) {
            formElements[i].style.border = "solid 1px";
            formElements[i].removeAttribute("disabled");
        }
    });

    gitHubBtn.addEventListener('click', (e) => {
        e.preventDefault();
        window.open(`https://github.com/<%= user.gitHub %>`, '_blank').focus();
    });

    cancelBtn.addEventListener('click', (e) => {
        location.reload()
    });
</script>