
<%- include('../partials/header.ejs'); -%>

<main class="px-6 lg:px-8">
    <section class="mx-auto max-w-2xl">
    <a href="/dashboard" class="text-sm font-semibold leading-6 text-gray-900">back to dashboard <span aria-hidden="true">→</span></a>
    <h1>My Profile</h1>

    <form action="/dashboard/myProfile/<%= user.id %>?_method=PUT" id="profileForm" method="POST" class="grid grid-cols-2 gap-x-8">
        <div>
            <label class="mt-6 mb-2 block text-sm font-semibold leading-6 text-gray-900" for="firstName">First Name: </label>
            <input id="firstName" type="text" class="myProfileForm input-display" name="firstName" value="<%= user.firstName %>" placeholder="First Name" required disabled /><!-- <br /> -->
            <div class="firstName error"></div><!-- <br /> -->
        </div>
        <div>
            <label class="mt-6 mb-2 block text-sm font-semibold leading-6 text-gray-900" for="lastName">Last Name: </label>
            <input id="lastName" type="text" class="myProfileForm input-display" name="lastName" value="<%= user.lastName %>" placeholder="Last Name" required disabled /><!-- <br /> -->
            <div class="lastName error"></div><!-- <br /> -->
        </div>
        <div>
            <label class="mt-6 mb-2 block text-sm font-semibold leading-6 text-gray-900" for="email">Email: </label>
            <input id="email" type="text" class="myProfileForm input-display" name="email" value="<%= user.email %>" placeholder="email" disabled/><!-- <br /> -->
            <div class="email error"><%= locals.emailError %></div><!-- <br /> -->
        </div>
        <div></div>
        <div>
            <label class="mt-6 mb-2 block text-sm font-semibold leading-6 text-gray-900" for="gitHub">GitHub Username: </label>
            <input id="gitHub" type="text" class="myProfileForm input-display" name="gitHub" value="<%= user.gitHub %>" placeholder="gitHub username" disabled/>
        </div>
        <div>
            <button class="mt-6 mb-2 block text-sm font-semibold leading-6 text-gray-900" type="button" id="gitHubBtn">Visit your github profile</button><!-- <br /> -->
            <div class="gitHub error"></div><!-- <br /> -->
        </div>
    </form>
    <div class="flex gap-6">
        <button class="mt-6 inline-flex justify-center rounded-lg text-sm font-semibold py-2.5 px-4 text-slate-900 bg-slate-300 hover:bg-slate-400 w-fit" id="editBtn" >Edit Personal Data</button>
        <button class="hidden mt-6 inline-flex justify-center rounded-lg text-sm font-semibold py-2.5 px-4 text-green-900 bg-green-200 hover:bg-green-300 w-fit" id="saveBtn" type="submit" form="profileForm">Save</button>
        <button class="hidden mt-6 inline-flex justify-center rounded-lg text-sm font-semibold py-2.5 px-4 text-red-900 bg-red-200 hover:bg-red-300 w-fit" id="cancelBtn">Cancel</button>
    </div>

    
    <!-- <br /> -->
    
    <a href="/dashboard/changePassword/<%= user.id %>" class="mt-6 inline-flex justify-center rounded-lg text-sm font-semibold py-2.5 px-4 bg-slate-900 text-slate-300 hover:bg-slate-400 w-fit">
        change password
    </a>
</section>
</main>

<%- include('../partials/footer.ejs'); -%>

<script>
    const formElements = document.querySelectorAll(".myProfileForm");
    const editBtn = document.getElementById('editBtn');
    const cancelBtn = document.getElementById('cancelBtn');
    const saveBtn = document.getElementById('saveBtn');
    const gitHubBtn = document.getElementById('gitHubBtn');

    editBtn.addEventListener('click', () => {
        editBtn.style.display = "none";
        saveBtn.style.display = "inline-block";
        cancelBtn.style.display = "inline-block";
        gitHubBtn.style.display = "none";

        for (i = 0; i < formElements.length; ++i) {
            formElements[i].classList.remove("input-display");
            formElements[i].classList.add("input-edit");
            formElements[i].removeAttribute("disabled");
        }
    });

    gitHubBtn.addEventListener('click', (e) => {
        e.preventDefault();
        window.open(`https://github.com/<%= user.gitHub %>`, '_blank').focus();
    });

    cancelBtn.addEventListener('click', () => {
        location.reload()
    });
</script>