<%- include('partials/header'); -%>

<form class="editJob" action="/editJob">
<input id="jobTitle" type="text" name="jobTitle" value="<%= job.jobTitle || 'Job Title'%>" readonly required /><br>
<input id="companyName" type="text" name="companyName" value="<%= job.companyName || 'Company Name'%>" readonly required /><br>
<input id="website" type="text" name="website" value="<%= job.website || 'website' %>" readonly /><br>
<input id="contactName" type="text" name="contactName" value="<%= job.contactName || 'contact name'%>" readonly /><br>
<input id="contactEmail" type="text" name="contactEmail" value="<%= job.contactEmail || 'contact email'%>" readonly /><br>
<input id="contactPhone" type="text" name="contactPhone" value="<%= job.contactPhone || 'contact phone'%>" readonly /><br>
<input id="address" type="text" name="address" value="<%= job.address || 'address'%>" readonly /><br>
<input id="origin" type="text" name="origin" value="<%= job.origin || 'origin'%>" readonly /><br>
<input id="status" type="text" name="status" value="<%= job.status || 'status'%>" readonly /><br>
<textarea id="comments" name="comments" rows="10" cols="50" readonly ><%= job.comments || 'comments'%></textarea><br>
<button id="edit">Edit</button><button id="save">Save</button><button id="delete">Delete</button><button id="cancel">Cancel</button>

</form>

<%- include('partials/footer'); -%>

<script>
    const form = document.querySelector('form');
    const editBtn = document.getElementById('edit');
    const saveBtn = document.getElementById('save');
    const deleteBtn = document.getElementById('delete')
    const cancelBtn = document.getElementById('cancel')

    const jobTitleElement = form.jobTitle;
    const companyNameElement = form.companyName;
    const websiteElement = form.website;
    const contactNameElement = form.contactName;
    const contactEmailElement = form.contactEmail;
    const contactPhoneElement = form.contactPhone;
    const addressElement = form.address;
    const originElement = form.origin;
    const statusElement = form.status;
    const commentsElement = form.comments;

    editBtn.addEventListener('click', (e) => {
        e.preventDefault();
        jobTitleElement.removeAttribute('readonly');
        companyNameElement.removeAttribute('readonly');
        websiteElement.removeAttribute('readonly');
        contactNameElement.removeAttribute('readonly');
        contactEmailElement.removeAttribute('readonly');
        contactPhoneElement.removeAttribute('readonly');
        addressElement.removeAttribute('readonly');
        originElement.removeAttribute('readonly');
        statusElement.removeAttribute('readonly');
        commentsElement.removeAttribute('readonly');

        jobTitleElement.style.border = "solid 1px";
        companyNameElement.style.border = "solid 1px";
        websiteElement.style.border = "solid 1px";
        contactNameElement.style.border = "solid 1px";
        contactEmailElement.style.border = "solid 1px";
        contactPhoneElement.style.border = "solid 1px";
        addressElement.style.border = "solid 1px";
        originElement.style.border = "solid 1px";
        statusElement.style.border = "solid 1px";
        commentsElement.style.border = "solid 1px";

        editBtn.style.display = "none";
        deleteBtn.style.display = "none";
        saveBtn.style.display = "inline-block";
        cancelBtn.style.display = "inline-block";
    });

    saveBtn.addEventListener('click', async (e) => {
        e.preventDefault();

        const jobTitle = form.jobTitle.value;
        const companyName = form.companyName.value;
        const website = form.website.value;
        const contactName = form.contactName.value;
        const contactEmail = form.contactEmail.value;
        const contactPhone = form.contactPhone.value;
        const address = form.address.value;
        const origin = form.origin.value;
        const status = form.status.value;
        const comments = form.comments.value;

        location.reload()
    });

    deleteBtn.addEventListener('click', (e) => {
        e.preventDefault();
    });

    cancelBtn.addEventListener('click', (e) => {
        e.preventDefault();
        window.location.href = `/dashboard`;
    });

    </script>